/* LandingScreen.module.css */
.landingScreenContainer {
  background-color: #fff; /* White background */
}

.georgiaButton {
  width: 10rem; /* Adjust as needed */
  height: 2.5rem; /* Adjust as needed */
  border-radius: 0.5rem; /* Adjust as needed */
  background-color: #fff;
  border: 1px solid #333; /* Adjust as needed */
  color: #333;
  font-size: 0.875rem; /* Adjust as needed */
}

.georgiaButton:hover {
  background-color: rgba(51, 51, 51, 0.1); /* Slight background fill */
  border-color: #555;
  color: #555;
}

.floridaButton {
  width: 10rem; /* Adjust as needed */
  height: 2.5rem; /* Adjust as needed */
  border-radius: 0.5rem; /* Adjust as needed */
  background-color: #fff;
  border: 1px solid #333; /* Adjust as needed */
  color: #333;
  font-size: 0.875rem; /* Adjust as needed */
}

.floridaButton:hover {
  background-color: rgba(51, 51, 51, 0.1); /* Slight background fill */
  border-color: #555;
  color: #555;
}

.stateDataButton {
  width: 14rem; /* Adjust as needed */
  height: 3rem; /* Adjust as needed */
  border-radius: 0.5rem; /* Adjust as needed */
  background-color: #fff;
  color: #333;
  margin-top: 2rem;
  border: 1px solid #333;
  font-size: 0.875rem;
}

.stateDataButton:hover {
  background-color: rgba(51, 51, 51, 0.1); /* Slight background fill */
  border-color: #555;
  color: #555;
}

.peaceOfficerText {
  color: #000000; // Black
  font-size: 1.875rem; /* Adjust as needed */
}

.black {
  color: #ddd; // Keep your existing color definition
}

// Add or update a base class for your component if necessary
.typewriterBase {
  font-family: "SF-Pro Text";
}

.bottomText {
  width: 55%;
  text-align: center;
  margin-bottom: 1rem;
}
