/* LandingScreen.module.css */
.landingScreenContainer {
  background-color: #121212; /* White background */
}

.georgiaButton {
  width: 10rem; /* Adjust as needed */
  height: 2.5rem; /* Adjust as needed */
  border-radius: 0.5rem; /* Adjust as needed */
  background-color: #121212;
  border: 1px solid #ddd; /* Adjust as needed */
  color: #ddd;
  font-size: 0.875rem; /* Adjust as needed */
}

.georgiaButton:hover,
.floridaButton:hover {
  background-color: #383838; /* Darker grey for hover background */
  border-color: #bbb; /* Slightly lighter border than hover background */
  color: #000000; /* Black text for better visibility */
}

.floridaButton {
  width: 10rem; /* Adjust as needed */
  height: 2.5rem; /* Adjust as needed */
  border-radius: 0.5rem; /* Adjust as needed */
  background-color: #121212;
  border: 1px solid #ddd; /* Adjust as needed */
  color: #ddd;
  font-size: 0.875rem; /* Adjust as needed */
}

.peaceOfficerText {
  color: #ddd; // Black
}
