.header {
  width: 100%;
  background: #fff; /* Light background color */
  padding: 1rem 0;
  font-family: 'Segoe UI';
  position: fixed; /* Fix the header at the top */
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure the header is above other elements */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow for better separation */
}

.headerContainer {
  margin: 0;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navItems {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.headerTitle {
  font-size: 2rem;
  color: #333; /* Dark text color for contrast */
  margin-right: 20px;
  font-family: "Segoe UI";
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 200px; /* Set a specific width */
  z-index: 5;
}

.dropdownToggle {
  font-size: 1.1rem;
  color: #333; /* Dark gray color */
  background-color: #fff;
  border: 1px solid #333;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%; /* Make the button the same width as the dropdown */
  text-align: center; /* Center the text */
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 0.5rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 100%; /* Make the dropdown menu the same width as the button */
  overflow-y: auto; // Enable vertical scrolling
  height: 300px;
}

.dropdownItem {
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: #000; /* Black text color */
  text-align: center; /* Center the text */
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */

  &:hover {
    background-color: rgba(51, 51, 51, 0.1); /* Slight background fill */
  }
}

.active {
  background-color: #ccc; /* Lighter background color for active state */
  color: #333; /* Dark text color for contrast */
}


.aboutButton {
  font-size: 1.1rem;
  color: #333;
  background-color: #fff;
  border: 1px solid #333;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-left: 1rem;
  white-space: nowrap;

  &:hover {
    background-color: rgba(51, 51, 51, 0.1);
  }
}

@media (max-width: 768px) {
  .headerContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .aboutButton {
    margin-top: 1rem;
    margin-left: 0;
    align-self: flex-end;
  }
}

.headerTitleLink {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}