.header {
  width: 100%;
  background: #FFFFFF;
  color: #252525;
  padding: 1rem 0;
}

.headerContainer {
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navItems {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.headerTitle {
  font-size: 2rem;
  color: #252525;
  margin-right: 20px;
  font-family: "Segoe UI";
  font-weight: bold;
  cursor: pointer;
}

.navLink {
  font-size: 1.1rem;
  color: #252525;
  margin-right: 20px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: #ffffff;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownToggle {
  background-color: #f0f0f0;
  color: #252525;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 1rem;
}

.dropdownMenuWrapper {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 200px; // Adjusted to show about 5 items
  overflow-y: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdownMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdownItem {
  padding: 8px 16px;
  cursor: pointer;
  font-size: 0.9rem; // Slightly smaller font size

  &:hover {
    background-color: #f0f0f0;
  }

  &.active {
    background-color: #e0e0e0;
    font-weight: bold;
  }
}

.aboutButton {
  background-color: #f0f0f0;
  color: #252525;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 20px;

  &:hover {
    background-color: #e0e0e0;
  }
}