.footer {
  background: white;
  box-sizing: border-box;
  width: 100%;

  .nav-links-wrapper {
    padding: 10px 16px 12px 16px;
    font-size: 14px;

    .links {
      margin-right: 24px;
      cursor: pointer;
      font-weight: 300;
      color: #767676;
      &:hover {
        color: #0070f3;
      }
    }
  }

  .logo-wrapper {
    background-color: #f5f4f4;
    padding: 10px 16px 80px 16px;

    .logo {
      display: inline-block;
      margin-left: -2px;
      margin-right: 10px;
      opacity: 1;

      &:hover {
        opacity: 0.75;
      }
    }
  }
}
