.agencyCard {
  &__container {
    position: relative;
    display: block;
    background-color: #e9ecef;
    padding: 1rem;
    height: 8rem; // equivalent to h-64
    width: 8rem; // equivalent to w-64
    margin: .1rem; // This adds space around each card. Adjust as needed.
    border-radius: 1rem; // Adjusts the corner radius for curvature
    @media (min-width: 768px) {
      height: 20rem; // equivalent to md:h-96
      width: 20rem; // equivalent to md:w-96
    }
  }

  &__hoverBackground {
    position: absolute;
    inset: 0;
    background-color: rgb(58, 62, 61, .05); // neutral-200
    border-radius: 1.125rem; // rounded-3xl
    // For dark mode, you might need JavaScript to dynamically add classes or styles
  }

  &__content {
    border-radius: 1rem; // rounded-2xl
    height: 100%;
    width: 100%;
    padding: 1rem;
    overflow: hidden;
    background-color: #e9ecef;
    border: transparent;
    position: relative;
    z-index: 20;

    &--dark {
      border-color: rgba(255, 255, 255, 0.2);
    }
  }

  &__header {
    padding: 1rem;
    color: black; // text-zinc-100
    font-weight: bold;
    letter-spacing: wider;
    margin-top: 1rem;
  }
}
